<div>
    <sly-field title="Remote Server Address"
               description="Define server address of the remote instance">
        <sly-icon slot="icon" :options="{ color: '#ceadff', bgColor: '#f6ebff', rounded: false }">
            <i class="zmdi zmdi-dns"></i>
        </sly-icon>
        <el-input placeholder="Please input server address" v-model="state.serverAddress"></el-input>
    </sly-field>

    <sly-field title="Remote API Token"
               description="Define api token that provides access to remote project">
        <sly-icon slot="icon" :options="{color: '#ea9d22', bgColor: '#fcefd9', rounded: false}">
            <i class="zmdi zmdi-key"></i>
        </sly-icon>
        <el-input placeholder="Please input api token" v-model="state.apiToken"></el-input>
    </sly-field>

    <sly-field title="Remote Project ID"
               description="Define id of the project that has to be copied">
        <sly-icon slot="icon" :options="{ color: '#2cd26e', bgColor: '#d8f8e7', rounded: false }">
            <i class="zmdi zmdi-collection-folder-image"></i>
        </sly-icon>
        <el-input placeholder="Please input project id" v-model="state.projectId"></el-input>
    </sly-field>
</div>